body {
    background: lightgray;
}

.portraits img {
    
    /* margin: auto; */
}

.navbar {
    margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.chicago-pic {
    background-image: url(https://cdn.pixabay.com/photo/2016/10/29/18/49/chicago-1781173_1280.jpg);
    background-color: purple;
    background-size: 100%;
    background-repeat: no-repeat;
    /* width: 100%; */
    background-position: 0% 50%;
}

.portraits {
    display: flex;
    justify-content: space-around;
}

.bios {
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
}

.biocontainer {
    background-color: white;
    margin: 10px;
    padding: 1em;
    border-radius: 1em;
}

.signature {
    border-top: solid black 1px;
    margin: 10px;
}

.signature p{
    padding-top: 1em;
    font-size: .8em;
    color: gray;
    text-align: center;
}